@import '../../myStyle.scss';
@import "../common/colors";

.lyricsMain {
  @include flexBoxCol();

  .songTitle {
    width: 360px;
    margin-bottom: 25px;

    p {
      margin: 0;

      &:nth-of-type(1) {
        padding: 0;
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 5px;
      }
    }

  }

  .mainLyrics {
    p {
      color: #666;
      font-size: 16px;
      margin-bottom: 5px;
    }
  }

  .lyric-loading {
    font-size: 16px;
  }
}
