@import "../../../../myStyle";
@import "../../../common/colors";

.face-show-detail {
  @include flexCenter();
  @include detailBoxBcg();
  border-radius: 5px;
  padding: 2em;

  .face-show-detail-content {
    line-height: 2;
  }
}
