@import "../../../common/colors";

.camera-main {
  .camera-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $cameraBoxColor;
    border-radius: 5px;
    padding: 20px 20px 10px;

    #video {
      width: 520px;
      min-height: 390px;
      background: $photoBcg;
    }

    .camera-btn {
      margin-top: 20px;
      font-size: 52px;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }

  #canvas {
    display: none;
  }
}
