@import "../../components/common/colors";
@import "../../myStyle.scss";

.music-detail-main {
  @include flexBoxRow();
  @include musicDetailBcg();
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  width: 760px;
  height: 420px;
  border-radius: 10px;
  padding: 20px;
  margin: auto;

  .song-cover {
    width: 250px;
    border-radius: 7px;
  }

  .songLyrics {
    width: 400px;
    height: 100%;
    overflow: hidden;
  }

  .replace {
    width: 100%;
    font-size: 16px;
    text-align: center;
    line-height: 380px;
  }

  .close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 1em;
    font-weight: bold;
    line-height: 1;
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      transform: rotate(-360deg);
    }
  }
}
