@import "../../../myStyle.scss";
@import "../../common/colors";

.player-main {
  @include flexBoxCol();
  justify-content: center;
  height: 100%;
  width: 1000px;

  .progress {
    @include flexBoxRow();
    height: 5px;
    width: 100%;
    margin: 0 auto 8px;
    border-radius: 5px;
    background: $processBcg;
  }

  .progressbar {
    height: 5px;
    background-color: $processBarColor;
    border-radius: 5px;
  }

  .player {
    $aside-width: 300px;
    height: 50px;
    @include flexBoxRow();
    justify-content: space-between;
    align-items: center;

    .aside-music {
      width: $aside-width;
      @include flexBoxRow();
      align-items: center;

      .music-avatar {
        text-align: center;

        img {
          width: 36px;
          height: 36px;
        }
      }

      .music-detail {
        width: 80%;
        @include flexBoxCol();
        justify-content: space-around;

        .music-name {
          height: 50%;
          font-weight: bold;
        }

        .progress-time {
          height: 50%;
          color: $progressTimeColor;
        }

        p {
          margin: 0 0 0 10px;
        }
      }
    }

    .music-main {
      width: 160px;
      @include flexBoxRow();
      justify-content: space-between;
      align-items: center;

      & > span {
        &:hover {
          cursor: pointer;
        }
      }
    }

    .aside-setting {
      display: flex;
      justify-content: flex-end;
      width: $aside-width;
      text-align: center;
    }
  }
}
