@import "../../components/common/myStyle.scss";
@import "../../components/common/index";

#all {
  @include flexCenter();
  flex-direction: column;
  min-height: 100vh;

  #header {
    @include flexCenter();
    @include headerBcg;
    height: 60px;
    width: 100%;
    font-size: 16px;
  }

  #main {
    @include flexCenter;
    @include mainBcg;
    flex: 1;
    width: 100%;

    #main-block {
      width: 1000px;
      padding: 20px;
    }

    /*
    #sider-block {
      width: 190px;
      min-width: 190px;
      background-color: rgb(211, 210, 210);
      @media screen and (max-width: 750px) {
        & {
          display: none;
        }
      }
    }
    */
  }

  #footer {
    @include flexCenter();
    width: 100%;
    height: 85px;
    padding: 10px 0;
    background: $footerColor;
  }
}
